# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment files
.env

# Logs
logs
*.log
logs/*

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Optional build/output directories
dist/
build/
